FORMAT: 1A
HOST: http://sandbox.cherehapa.ru/v2/

#API проекта "Черехапа Страхование" v2.0 - Основной перечень объектов и методов

## Основной перечень объектов и методов .

Ниже приведены большая часть методов и объектов, с помощью которых можно получить ту или иную информацию от системы.

Для продолжения знакомства с системой, смотрите раздел "Расчет и выписка полисов".

В каждом разделе есть пример ПРАВИЛЬНОГО ответа системы для сравнения.

В тех случаях когда указано, что запрос выполняется очень долго, рекомендуется выполнять запросы с фильтром или быть готовым ожидать от 1 минуты и более.

## country: получение перечня стран [/country?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /country [GET]

Выводится полный список стран (в примере показано только 3 страны, полный список можно увидеть выполнив запрос)
+ Response 200 (application/json)

            {
                "status": 200,
                "country": [
                        {
                        "id": 6,
                        "code": "abhazia",
                        "name": "Абхазия",
                        "enName": "Abkhazia",
                        "fullName": "Республика Абхазия",
                        "iso2": "AB",
                        "iso3": "ABH",
                        "countryAlias": [ 
                            "All the world, exept USA, Japan, Australia,NewZealand,Canada"
                          ]
                        },
                        {
                          "id": 9,
                          "code": "australia",
                          "name": "Австралия",
                          "enName": "Australia",
                          "fullName": "Австралийский Союз",
                          "iso2": "AU",
                          "iso3": "AUS",
                          "countryAlias": []
                        },
                        {
                          "id": 12,
                          "code": "austria",
                          "name": "Австрия",
                          "enName": "Austria",
                          "fullName": "Австрийская Республика",
                          "iso2": "AT",
                          "iso3": "AUT",
                          "countryAlias": [
                            "AUSTRIA, SHENGEN"
                          ]
                        }
                           ]
            }

## country: информация о стране с кодом id [/country/{id}?key={key}]

+ Parameters
    + id: `570` (required, number) - id страны (например Россия - 570)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /country/id [GET]

Выводится информация о выбранной стране
+ Response 200 (application/json)

            {
              "status": 200,
              "country": {
                "id": 570,
                "code": "russia",
                "name": "Россия",
                "enName": "Russia",
                "fullName": "Российская Федерация",
                "iso2": "RU",
                "iso3": "RUS",
                "countryAlias": [
                  "RUSSIA FEDERATION",
                  "РОССИЯ, СТРАНЫ СНГ",
                  "Крым",
                  "Сочи"
                ] }
            }

## countryGroup: список групп стран [/countryGroup?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /countryGroup [GET]

Выводится информация обо всех группах стран. ВНИМАНИЕ полный запрос выполняется ОЧЕНЬ ДОЛГО (от 1 до нескольких минут). В примере дан сильно усеченный пример вывода. Рекомендуется выполнять запрос с фильтром.
+ Response 200 (application/json)

            {
              "status": 200,
              "countryGroup": {
                "id": 3,
                "code": "europe",
                "name": "Страны Европы",
                "companyId": null,
                "isPublic": 0,
                "country": [
                  {
                    "id": 12,
                    "code": "austria",
                    "name": "Австрия"
                  },
                  {
                    "id": 18,
                    "code": "albania",
                    "name": "Албания"
                  },
                  {
                    "id": 30,
                    "code": "andorra",
                    "name": "Андорра"
                  },
                  {
                    "id": 60,
                    "code": "byelorussia",
                    "name": "Белоруссия"
                  },
                  {
                    "id": 63,
                    "code": "belgium",
                    "name": "Бельгия"
                  },
                  {
                    "id": 72,
                    "code": "bulgaria",
                    "name": "Болгария"
                  }        ]
                             }
            }

## countryGroup: подробные данные группы стран по id [/countryGroup/{id}?key={key}]

+ Parameters
    + id: `3` (required, number) - id группы стран (например Европа - 3)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /countryGroup/id [GET]

Выводится информация о выбранной группе стран, в примере вывод ограничен первыми 6-ю странами из списка "Европа", для получения полного списка - выполните запрос с id=3.
+ Response 200 (application/json)

            {
              "status": 200,
              "countryGroup": {
                "id": 3,
                "code": "europe",
                "name": "Страны Европы",
                "companyId": null,
                "isPublic": 0,
                "country": [
                      {
                        "id": 12,
                        "code": "austria",
                        "name": "Австрия"
                      },
                      {
                        "id": 18,
                        "code": "albania",
                        "name": "Албания"
                      },
                      {
                        "id": 30,
                        "code": "andorra",
                        "name": "Андорра"
                      },
                      {
                        "id": 60,
                        "code": "byelorussia",
                        "name": "Белоруссия"
                      },
                      {
                        "id": 63,
                        "code": "belgium",
                        "name": "Бельгия"
                      },
                      {
                        "id": 72,
                        "code": "bulgaria",
                        "name": "Болгария"
                      }
            }

## company: список страховых компаний, доступных партнеру [/company?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /company [GET]

Выводится список страховых компаний, доступных партнеру. В примере показаны только 3 компании, для того, чтобы увидеть весь список - выполните запрос.
+ Response 200 (application/json)

            {
              "status": 200,
              "company": {
                      "id": 51,
                      "code": "soglasie",
                      "isBlocked": 0,
                      "name": "Согласие",
                      "url": "http://www.soglasie.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/soglasie.png",
                      "whiteLogo": null,
                      "color": "#e87932",
                      "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/soglasie.pdf",
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 0,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 85,
                      "useFullSports": 0,
                      "additionalClasses": null
                    },
                    {
                      "id": 52,
                      "code": "rstandart",
                      "isBlocked": 0,
                      "name": "Русский Стандарт",
                      "url": "http://www.rsins.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/rsins.png",
                      "whiteLogo": null,
                      "color": "#8f0a0a",
                      "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/rs.pdf",
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 1,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 80,
                      "useFullSports": 0,
                      "additionalClasses": null
                    },
                    {
                      "id": 54,
                      "code": "uralsib",
                      "isBlocked": 1,
                      "name": "Уралсиб",
                      "url": "http://www.uralsibins.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/uralsib.png",
                      "whiteLogo": null,
                      "color": "#52ac56",
                      "insuranceRules": null,
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 0,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 0,
                      "useFullSports": 0,
                      "additionalClasses": null
                    }

## company: подробная информацию о компании по id [/company/{id}?key={key}]

+ Parameters
    + id: `51` (required, number) - id компании (например Согласие - 51)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /company/id [GET]

Выводится подробная информация о страховой компании по id (только одной) из всего списка
+ Response 200 (application/json)

            {
              "status": 200,
              "company": {
                "id": 51,
                "code": "soglasie",
                "isBlocked": 0,
                "name": "Согласие",
                "url": "http://www.soglasie.ru/",
                "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/soglasie.png",
                "whiteLogo": null,
                "color": "#e87932",
                "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/soglasie.pdf",
                "insuranceHospitals": null,
                "cancelEmail": "ap@tsys.pw",
                "useLocalName": 0,
                "usePassport": 0,
                "childAge": null,
                "agentsFee": 30,
                "roundType": 0,
                "processType": null,
                "recommendationText": "",
                "maxAge": 85,
                "useFullSports": 0,
                "additionalClasses": null
              }
            }

## service: список страховых услуг, доступных партнеру [/service?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /service [GET]

Выводится список страховых услуг, доступных партнеру. В примере приведена только запись с id=1, для получения всего списка - выполните запрос.
+ Response 200 (application/json)

            {
              "status": 200,
              "service": [
                {
                  "id": 1,
                  "sortIndex": 10,
                  "code": "medicine",
                  "name": "Медицинское страхование",
                  "shortName": "Медицинское страхование",
                  "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                  "units": "currency",
                  "serviceGroupId": 21,
                  "defaultValue": 30000,
                  "isGroupMaster": 1,
                  "unitsText": {
                    "EUR": {
                      "0": "евро",
                      "30000": "евро",
                      "50000": "евро",
                      "100000": "евро"
                    },
                    "RUB": {
                      "0": "рублей",
                      "30000": "рублей",
                      "50000": "рублей",
                      "100000": "рублей"
                    },
                    "USD": {
                      "0": "долларов",
                      "30000": "долларов",
                      "50000": "долларов",
                      "100000": "долларов"
                    }
                  },
                  "serviceValue": [
                    0,
                    30000,
                    50000,
                    100000
                  ]
                }
            }
            
## service: подробная информация о страховой услуге по id [/service/{id}?key={key}]

+ Parameters
    + id: `5` (required, number) - id страховой услуги (например Вызов врача по медицинским показаниям - 5)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /service/id [GET]

Выводится подробная информация о страховой услуге по id. Для получения информации по различным услугам - выполните запрос с различным id.
+ Response 200 (application/json)

            {
             "status": 200,
              "service": {
                "id": 5,
                "sortIndex": 20,
                "code": "doctorCall",
                "name": "Вызов врача по медицинским показаниям",
                "shortName": "Вызов врача по медицинским показаниям",
                "description": null,
                "units": null,
                "serviceGroupId": 21,
                "defaultValue": 0,
                "isGroupMaster": 0,
                "unitsText": false,
                "serviceValue": [
                  1
                ]
              }
            }

## serviceGroup: список групп страховых услуг, доступных партнеру [/serviceGroup?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /serviceGroup [GET]

Выводится cписок групп страховых услуг, доступных партнеру. В примере приведены только 2 записи из всего списка. Выполните запрос, для получения всего списка.
+ Response 200 (application/json)

            {
             "status": 200,
              "serviceGroup": [
                {
                  "id": 38,
                  "code": "accidents",
                  "name": "Страхование от несчастных случаев",
                  "parentGroupId": 70,
                  "sortIndex": 5,
                  "description": "В случае, если путешественник пострадал и получил травму, страховая компания не только оплатит лечение, но выплатит еще и дополнительную компенсацию. "
                },
                {
                  "id": 21,
                  "code": "medicine",
                  "name": "Медицинское страхование",
                  "parentGroupId": 67,
                  "sortIndex": 10,
                  "description": "Это базовая услуга. Нажмите «подробно» здесь или у выбранной страховой компании и Вы увидите, что включает страховка той или иной страховой компании. Часть опций входит в страховку по умолчанию, часть опций Вы можете выбрать дополнительно и мы порекомендуем ту страховую компанию, где эти опции включены в страховое покрытие. Совет: мы рекомендуем выбирать максимальную сумму страховки, так как при тяжелом страховой случае, где потребуется медицинская транспортировка, минимальной страховой суммы может не хватить и Вам придется доплачивать самостоятельно. Если у страховой компании действуют значимые ограничения (например, франшиза) – мы обязательно покажем Вам эту информацию. Нам действительно важно, чтобы Вы понимали, что включено в страховку и на какую помощь можете рассчитывать."
                }
            }
            
## serviceGroup: подробная информация о группе страховых услуг по id [/serviceGroup/{id}?key={key}]

+ Parameters
    + id: `38` (required, number) - id страховой услуги (например Страхование от несчастных случаев - 38)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /serviceGroup/id [GET]

Выводится подробная информация о группе страховых услуг по id.
+ Response 200 (application/json)

            {
             "status": 200,
              "serviceGroup": {
                "id": 38,
                "code": "accidents",
                "name": "Страхование от несчастных случаев",
                "parentGroupId": 70,
                "sortIndex": 5,
                "description": "В случае, если путешественник пострадал и получил травму, страховая компания не только оплатит лечение, но выплатит еще и дополнительную компенсацию. "
              }
            }

## sport: возвращает список видов спорта [/sport?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /sport [GET]

Выводится список видов спорта. В примере даны только первые 3 записи списка. Для получения всего списка, выполните запрос.
+ Response 200 (application/json)

            {
             "status": 200,
              "sport": [
                {
                  "id": 2,
                  "name": "Авиационный спорт",
                  "code": "airSports",
                  "isCompetition": 0,
                  "sortIndex": 100000
                },
                {
                  "id": 5,
                  "name": "Автомобильный спорт",
                  "code": "motorSport",
                  "isCompetition": 0,
                  "sortIndex": 100000
                },
                {
                  "id": 8,
                  "name": "Аквааэробика",
                  "code": "waterAerobics",
                  "isCompetition": 0,
                  "sortIndex": 100000
                }
            }

## sport: подробная информация о виде спорта по id [/sport/{id}?key={key}]

+ Parameters
    + id: `2` (required, number) - id вида спорта (например Авиационный спорт - 2)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /sport [GET]

Выводится список видов спорта. В примере даны только первые 3 записи списка. Для получения всего списка, выполните запрос.
+ Response 200 (application/json)

            {
             "status": 200,
              "sport": {
                "id": 2,
                "name": "Авиационный спорт",
                "code": "airSports",
                "isCompetition": 0,
                "sortIndex": 100000
              }
            }

## insuranceProduct: список страховых продуктов, доступных партнеру [/insuranceProduct?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /insuranceProduct [GET]

Выводится список страховых продуктов, доступных партнеру. В примере дана только первая запись из всего списка. Для получения всего списка, выполните запрос. ВНИМАНИЕ полный запрос выполняется ОЧЕНЬ ДОЛГО (от 1 до нескольких минут). В примере дан сильно усеченный пример вывода. Рекомендуется выполнять запрос с фильтром.
+ Response 200 (application/json)

            {
             "status": 200,
              "insuranceProduct": {
                "id": 1,
                "code": "B",
                "name": "Стандарт Плюс",
                "isLimited": 0,
                "expertRaiting": 0,
                "isFixed": 0,
                "serviceStrategy": 3,
                "touristsInPolicy": 10,
                "company": {
                  "id": 1,
                  "code": "erv",
                  "name": "ERV",
                  "url": "http://www.erv.ru/",
                  "color": "#beb400",
                  "cancelEmail": "ap@tsys.pw",
                  "useLocalName": 0,
                  "agentsFee": 30,
                  "roundType": 0,
                  "processType": "CreateOrderTwoStep",
                  "recommendationText": "Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие",
                  "maxAge": 130,
                  "useFullSports": 0,
                  "additionalClasses": null
                },
                "insuranceSubProduct": [
                  {
                    "id": 3,
                    "name": "Стандарт Плюс T-II 50000, 100000",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  },
                  {
                    "id": 6,
                    "name": "Стандарт Плюс T-I 30000, 50000",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  },
                  {
                    "id": 9,
                    "name": "Стандарт Плюс T-III 30000",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  },
                  {
                    "id": 741,
                    "name": "Стандарт Плюс T-II 50000, 100000 + Отмена поездки",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "121": [
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 5000
                        }
                      ],
                      "124": {
                        "description": "Выбрав эту опцию Вы сможете возместить расходы в том числе из-за отказа во въездной визе.",
                        "value": 1
                      },
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  },
                  {
                    "id": 744,
                    "name": "Стандарт Плюс T-I 30000, 50000 + Отмена поездки",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "121": [
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 5000
                        }
                      ],
                      "124": {
                        "description": "Выбрав эту опцию Вы сможете возместить расходы в том числе из-за отказа во въездной визе.",
                        "value": 1
                      },
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  },
                  {
                    "id": 747,
                    "name": "Стандарт Плюс T-III 30000 + Отмена поездки",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
                        "description": null,
                        "value": 1
                      },
                      "23": {
                        "description": null,
                        "value": 1
                      },
                      "26": {
                        "description": "Организация экстренной стоматологической помощи и оплата расходов в случае острой боли или травмы. У некоторых страховых компаний услуги по экстренной стоматологии входят в тариф по умолчанию, а у некоторых ее можно исключить из страховки, но мы Вам этого не советуем",
                        "value": 1
                      },
                      "29": {
                        "description": null,
                        "value": 1
                      },
                      "32": {
                        "description": null,
                        "value": 1
                      },
                      "38": {
                        "description": null,
                        "value": 1
                      },
                      "41": {
                        "description": null,
                        "value": 1
                      },
                      "44": {
                        "description": null,
                        "value": 1
                      },
                      "47": {
                        "description": null,
                        "value": 1
                      },
                      "50": {
                        "description": null,
                        "value": 1
                      },
                      "53": {
                        "description": null,
                        "value": 1
                      },
                      "56": {
                        "description": null,
                        "value": 1
                      },
                      "59": {
                        "description": null,
                        "value": 1
                      },
                      "62": {
                        "description": null,
                        "value": 1
                      },
                      "104": [
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 0
                        },
                        {
                          "description": "После обнаружения места эвакуации оплата расходов на вызов вертолета (если потерпевшего нельзя эвакуировать другим способом)",
                          "value": 1
                        }
                      ],
                      "121": [
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 1500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 2500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 3500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4000
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 4500
                        },
                        {
                          "description": "Вы сможете возместить расходы на приобретение авиа и жд билетов, стоимость брони гостиницы, трансфера, консульский сбор и другие расходы в случае отмены поездки из-за болезни, приведшей к госпитализации, или травмы, в т. ч. родственников; повреждения имущества и других рисков. ",
                          "value": 5000
                        }
                      ],
                      "124": {
                        "description": "Выбрав эту опцию Вы сможете возместить расходы в том числе из-за отказа во въездной визе.",
                        "value": 1
                      },
                      "135": {
                        "description": "Вы можете получить компенсацию при задержке регулярного рейса более чем на 4 часа на покупку вещей первой необходимости: еды, питания, размещения в гостинице.",
                        "value": 1
                      },
                      "138": {
                        "description": "Страховая компания поможет в оформлении дубликатов и компенсирует расходы на их оформление, если во время поездки документы будут украдены или потеряны (паспорт с визой и билет).",
                        "value": 1
                      },
                      "141": [
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2000
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 2500
                        },
                        {
                          "description": "Путешественник, непреднамеренно нарушивший местные законы, может рассчитывать на консультацию юриста за счет страховой компании, в случае судебного преследования. За исключением нарушений, совершенных за рулем автомобиля и уголовных дел.",
                          "value": 3000
                        }
                      ],
                      "144": [
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть беременная женщина, пометьте, пожалуйста. Мы порекомендуем Вам страховую компанию, где оплачиваются расходы на медицинскую помощь при внезапном осложнении течения беременности. На всякий случай",
                          "value": 24
                        }
                      ],
                      "153": {
                        "description": "Если застрахованные туристы не являются гражданами России, то отметьте этот пункт. У некоторых страховых компаний для иностранных граждан действуют специальные тарифы. Страховой полис можно купить для граждан любых государств, но он не будет действовать в стране постоянного проживания/стране гражданства.  ",
                        "value": 1
                      },
                      "161": [
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 0
                        },
                        {
                          "description": "Если среди путешественников есть иностранные граждане или лица без гражданства, пометьте, пожалуйста.",
                          "value": 1
                        }
                      ],
                      "168": {
                        "description": null,
                        "value": 1
                      },
                      "174": {
                        "description": null,
                        "value": 1
                      },
                      "183": {
                        "description": null,
                        "value": 1
                      },
                      "213": [
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 0
                        },
                        {
                          "description": "Страховая компания оплатит расходы, связанные с поисково-спасательными мероприятиями с целью обнаружения Застрахованного в горах, на море, в пустыне, в джунглях или других удаленных местах",
                          "value": 1
                        }
                      ]
                    }
                  }
                ]
              }
            }
            }
            
## insuranceProduct: подробная информация о страховом продукте по id [/insuranceProduct/{id}?key={key}]

+ Parameters
    + id: `1` (required, number) - id страхового продукта (например Стандарт Плюс - 1)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /insuranceProduct/id [GET]

Выводится подробная информация о страховом продукте по id. ВНИМАНИЕ приведенный пример ответа системы очень обширный.
+ Response 200 (application/json)

            {
             "status": 200,
              "insuranceProduct": {
                "id": 1,
                "code": "B",
                "name": "Стандарт Плюс",
                "isLimited": 0,
                "expertRaiting": 0,
                "isFixed": 0,
                "serviceStrategy": 3,
                "touristsInPolicy": 10,
                "company": {
                  "id": 1,
                  "code": "erv",
                  "name": "ERV",
                  "url": "http://www.erv.ru/",
                  "color": "#beb400",
                  "cancelEmail": "ap@tsys.pw",
                  "useLocalName": 0,
                  "agentsFee": 30,
                  "roundType": 0,
                  "processType": "CreateOrderTwoStep",
                  "recommendationText": "Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие",
                  "maxAge": 130,
                  "useFullSports": 0,
                  "additionalClasses": null
                },
                "insuranceSubProduct": [
                  {
                    "id": 3,
                    "name": "Стандарт Плюс T-II 50000, 100000",
                    "service": {
                      "1": [
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 30000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 50000
                        },
                        {
                          "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                          "value": 100000
                        }
                      ],
                      "2": {
                        "description": null,
                        "value": 1
                      },
                      "5": {
                        "description": null,
                        "value": 1
                      },
                      "8": {
                        "description": null,
                        "value": 1
                      },
                      "11": {
                        "description": null,
                        "value": 1
                      },
                      "14": {
                        "description": null,
                        "value": 1
                      },
                      "17": {
                        "description": null,
                        "value": 1
                      },
                      "20": {
[...]
