FORMAT: 1A
HOST: http://sandbox.cherehapa.ru/v2/

#API проекта "Черехапа Страхование" v2.0 - Основной перечень объектов и методов

## Основной перечень объектов и методов

Ниже приведены большая часть методов и объектов, с помощью которых можно получить ту или иную информацию от системы.

Для продолжения знакомства с системой, смотрите раздел "Расчет и выписка полисов".

В каждом разделе есть пример ПРАВИЛЬНОГО ответа системы для сравнения.

В тех случаях когда указано, что запрос выполняется очень долго, рекомендуется выполнять запросы с фильтром или быть готовым ожидать от 1 минуты и более.

## country: получение перечня стран [/country?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /country [GET]

Выводится полный список стран (в примере показано только 3 страны, полный список можно увидеть выполнив запрос)
+ Response 200 (application/json)

            {
                "status": 200,
                "country": [
                        {
                        "id": 6,
                        "code": "abhazia",
                        "name": "Абхазия",
                        "enName": "Abkhazia",
                        "fullName": "Республика Абхазия",
                        "iso2": "AB",
                        "iso3": "ABH",
                        "countryAlias": [ 
                            "All the world, exept USA, Japan, Australia,NewZealand,Canada"
                          ]
                        },
                        {
                          "id": 9,
                          "code": "australia",
                          "name": "Австралия",
                          "enName": "Australia",
                          "fullName": "Австралийский Союз",
                          "iso2": "AU",
                          "iso3": "AUS",
                          "countryAlias": []
                        },
                        {
                          "id": 12,
                          "code": "austria",
                          "name": "Австрия",
                          "enName": "Austria",
                          "fullName": "Австрийская Республика",
                          "iso2": "AT",
                          "iso3": "AUT",
                          "countryAlias": [
                            "AUSTRIA, SHENGEN"
                          ]
                        }
                           ]
            }

## country: информация о стране с кодом id [/country/{id}?key={key}]

+ Parameters
    + id: `570` (required, number) - id страны (например Россия - 570)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /country/id [GET]

Выводится информация о выбранной стране
+ Response 200 (application/json)

            {
              "status": 200,
              "country": {
                "id": 570,
                "code": "russia",
                "name": "Россия",
                "enName": "Russia",
                "fullName": "Российская Федерация",
                "iso2": "RU",
                "iso3": "RUS",
                "countryAlias": [
                  "RUSSIA FEDERATION",
                  "РОССИЯ, СТРАНЫ СНГ",
                  "Крым",
                  "Сочи"
                ] }
            }

## countryGroup: список групп стран [/countryGroup?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /countryGroup [GET]

Выводится информация обо всех группах стран. ВНИМАНИЕ полный запрос выполняется ОЧЕНЬ ДОЛГО (от 1 до нескольких минут). В примере дан сильно усеченный пример вывода. Рекомендуется выполнять запрос с фильтром.
+ Response 200 (application/json)

            {
              "status": 200,
              "countryGroup": {
                "id": 3,
                "code": "europe",
                "name": "Страны Европы",
                "companyId": null,
                "isPublic": 0,
                "country": [
                  {
                    "id": 12,
                    "code": "austria",
                    "name": "Австрия"
                  },
                  {
                    "id": 18,
                    "code": "albania",
                    "name": "Албания"
                  },
                  {
                    "id": 30,
                    "code": "andorra",
                    "name": "Андорра"
                  },
                  {
                    "id": 60,
                    "code": "byelorussia",
                    "name": "Белоруссия"
                  },
                  {
                    "id": 63,
                    "code": "belgium",
                    "name": "Бельгия"
                  },
                  {
                    "id": 72,
                    "code": "bulgaria",
                    "name": "Болгария"
                  }        ] 
                             }
            }

## countryGroup: подробные данные группы стран по id [/countryGroup/{id}?key={key}]

+ Parameters
    + id: `3` (required, number) - id группы стран (например Европа - 3)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /countryGroup/id [GET]

Выводится информация о выбранной группе стран, в примере вывод ограничен первыми 6-ю странами из списка "Европа", для получения полного списка - выполните запрос с id=3.
+ Response 200 (application/json)

            {
              "status": 200,
              "countryGroup": {
                "id": 3,
                "code": "europe",
                "name": "Страны Европы",
                "companyId": null,
                "isPublic": 0,
                "country": [
                      {
                        "id": 12,
                        "code": "austria",
                        "name": "Австрия"
                      },
                      {
                        "id": 18,
                        "code": "albania",
                        "name": "Албания"
                      },
                      {
                        "id": 30,
                        "code": "andorra",
                        "name": "Андорра"
                      },
                      {
                        "id": 60,
                        "code": "byelorussia",
                        "name": "Белоруссия"
                      },
                      {
                        "id": 63,
                        "code": "belgium",
                        "name": "Бельгия"
                      },
                      {
                        "id": 72,
                        "code": "bulgaria",
                        "name": "Болгария"
                      }    ] 
                              }
            }

## company: список страховых компаний, доступных партнеру [/company?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /company [GET]

Выводится список страховых компаний, доступных партнеру. В примере показаны только 3 компании, для того, чтобы увидеть весь список - выполните запрос.
+ Response 200 (application/json)

            {
              "status": 200,
              "company": [ 
                     {
                      "id": 51,
                      "code": "soglasie",
                      "isBlocked": 0,
                      "name": "Согласие",
                      "url": "http://www.soglasie.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/soglasie.png",
                      "whiteLogo": null,
                      "color": "#e87932",
                      "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/soglasie.pdf",
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 0,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 85,
                      "useFullSports": 0,
                      "additionalClasses": null
                    },
                    {
                      "id": 52,
                      "code": "rstandart",
                      "isBlocked": 0,
                      "name": "Русский Стандарт",
                      "url": "http://www.rsins.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/rsins.png",
                      "whiteLogo": null,
                      "color": "#8f0a0a",
                      "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/rs.pdf",
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 1,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 80,
                      "useFullSports": 0,
                      "additionalClasses": null
                    },
                    {
                      "id": 54,
                      "code": "uralsib",
                      "isBlocked": 1,
                      "name": "Уралсиб",
                      "url": "http://www.uralsibins.ru/",
                      "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/uralsib.png",
                      "whiteLogo": null,
                      "color": "#52ac56",
                      "insuranceRules": null,
                      "insuranceHospitals": null,
                      "cancelEmail": "ap@tsys.pw",
                      "useLocalName": 0,
                      "usePassport": 0,
                      "childAge": null,
                      "agentsFee": 30,
                      "roundType": 0,
                      "processType": null,
                      "recommendationText": "",
                      "maxAge": 0,
                      "useFullSports": 0,
                      "additionalClasses": null
                    } 
                        ]
           }

## company: подробная информацию о компании по id [/company/{id}?key={key}]

+ Parameters
    + id: `51` (required, number) - id компании (например Согласие - 51)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /company/id [GET]

Выводится подробная информация о страховой компании по id (только одной) из всего списка
+ Response 200 (application/json)

            {
              "status": 200,
              "company": {
                "id": 51,
                "code": "soglasie",
                "isBlocked": 0,
                "name": "Согласие",
                "url": "http://www.soglasie.ru/",
                "logo": "//static.staging.cherehapa.ru/i/latest/logo/155x56/soglasie.png",
                "whiteLogo": null,
                "color": "#e87932",
                "insuranceRules": "//static.staging.cherehapa.ru/d/latest/rules/soglasie.pdf",
                "insuranceHospitals": null,
                "cancelEmail": "ap@tsys.pw",
                "useLocalName": 0,
                "usePassport": 0,
                "childAge": null,
                "agentsFee": 30,
                "roundType": 0,
                "processType": null,
                "recommendationText": "",
                "maxAge": 85,
                "useFullSports": 0,
                "additionalClasses": null
              }
            }

## service: список страховых услуг, доступных партнеру [/service?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /service [GET]

Выводится список страховых услуг, доступных партнеру. В примере приведена только запись с id=1, для получения всего списка - выполните запрос.
+ Response 200 (application/json)

            {
              "status": 200,
              "service": [
                {
                  "id": 1,
                  "sortIndex": 10,
                  "code": "medicine",
                  "name": "Медицинское страхование",
                  "shortName": "Медицинское страхование",
                  "description": "Страховая компания возьмет на себя оплату расходов по амбулаторному и стационарному лечению в клинике, оплату медикаментов, перевозку заболевшего, а также, в случае необходимости, транспортировку домой. Вы можете увеличить сумму страховки, чтобы она покрывала как можно больше расходов на всякий случай. Минимальная сумма — это лишь требование посольства для получения визы",
                  "units": "currency",
                  "serviceGroupId": 21,
                  "defaultValue": 30000,
                  "isGroupMaster": 1,
                  "unitsText": {
                    "EUR": {
                      "0": "евро",
                      "30000": "евро",
                      "50000": "евро",
                      "100000": "евро"
                    },
                    "RUB": {
                      "0": "рублей",
                      "30000": "рублей",
                      "50000": "рублей",
                      "100000": "рублей"
                    },
                    "USD": {
                      "0": "долларов",
                      "30000": "долларов",
                      "50000": "долларов",
                      "100000": "долларов"
                    }
                  },
                  "serviceValue": [
                    0,
                    30000,
                    50000,
                    100000
                  ]
                }       ]
            }
            
## service: подробная информация о страховой услуге по id [/service/{id}?key={key}]

+ Parameters
    + id: `5` (required, number) - id страховой услуги (например Вызов врача по медицинским показаниям - 5)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /service/id [GET]

Выводится подробная информация о страховой услуге по id. Для получения информации по различным услугам - выполните запрос с различным id.
+ Response 200 (application/json)

            {
             "status": 200,
              "service": {
                "id": 5,
                "sortIndex": 20,
                "code": "doctorCall",
                "name": "Вызов врача по медицинским показаниям",
                "shortName": "Вызов врача по медицинским показаниям",
                "description": null,
                "units": null,
                "serviceGroupId": 21,
                "defaultValue": 0,
                "isGroupMaster": 0,
                "unitsText": false,
                "serviceValue": [
                  1
                ]
              }
            }

## serviceGroup: список групп страховых услуг, доступных партнеру [/serviceGroup?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /serviceGroup [GET]

Выводится cписок групп страховых услуг, доступных партнеру. В примере приведены только 2 записи из всего списка. Выполните запрос, для получения всего списка.
+ Response 200 (application/json)

            {
             "status": 200,
              "serviceGroup": [
                {
                  "id": 38,
                  "code": "accidents",
                  "name": "Страхование от несчастных случаев",
                  "parentGroupId": 70,
                  "sortIndex": 5,
                  "description": "В случае, если путешественник пострадал и получил травму, страховая компания не только оплатит лечение, но выплатит еще и дополнительную компенсацию. "
                },
                {
                  "id": 21,
                  "code": "medicine",
                  "name": "Медицинское страхование",
                  "parentGroupId": 67,
                  "sortIndex": 10,
                  "description": "Это базовая услуга. Нажмите «подробно» здесь или у выбранной страховой компании и Вы увидите, что включает страховка той или иной страховой компании. Часть опций входит в страховку по умолчанию, часть опций Вы можете выбрать дополнительно и мы порекомендуем ту страховую компанию, где эти опции включены в страховое покрытие. Совет: мы рекомендуем выбирать максимальную сумму страховки, так как при тяжелом страховой случае, где потребуется медицинская транспортировка, минимальной страховой суммы может не хватить и Вам придется доплачивать самостоятельно. Если у страховой компании действуют значимые ограничения (например, франшиза) – мы обязательно покажем Вам эту информацию. Нам действительно важно, чтобы Вы понимали, что включено в страховку и на какую помощь можете рассчитывать."
                }            ]
            }
            
## serviceGroup: подробная информация о группе страховых услуг по id [/serviceGroup/{id}?key={key}]

+ Parameters
    + id: `38` (required, number) - id страховой услуги (например Страхование от несчастных случаев - 38)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /serviceGroup/id [GET]

Выводится подробная информация о группе страховых услуг по id.
+ Response 200 (application/json)

            {
             "status": 200,
              "serviceGroup": {
                "id": 38,
                "code": "accidents",
                "name": "Страхование от несчастных случаев",
                "parentGroupId": 70,
                "sortIndex": 5,
                "description": "В случае, если путешественник пострадал и получил травму, страховая компания не только оплатит лечение, но выплатит еще и дополнительную компенсацию. "
              }
            }

## sport: возвращает список видов спорта [/sport?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /sport [GET]

Выводится список видов спорта. В примере даны только первые 3 записи списка. Для получения всего списка, выполните запрос.
+ Response 200 (application/json)

            {
             "status": 200,
              "sport": [
                {
                  "id": 2,
                  "name": "Авиационный спорт",
                  "code": "airSports",
                  "isCompetition": 0,
                  "sortIndex": 100000
                },
                {
                  "id": 5,
                  "name": "Автомобильный спорт",
                  "code": "motorSport",
                  "isCompetition": 0,
                  "sortIndex": 100000
                },
                {
                  "id": 8,
                  "name": "Аквааэробика",
                  "code": "waterAerobics",
                  "isCompetition": 0,
                  "sortIndex": 100000
                }
                       ]
            }

## sport: подробная информация о виде спорта по id [/sport/{id}?key={key}]

+ Parameters
    + id: `2` (required, number) - id вида спорта (например Авиационный спорт - 2)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /sport [GET]

Выводится список видов спорта. В примере даны только первые 3 записи списка. Для получения всего списка, выполните запрос.
+ Response 200 (application/json)

            {
             "status": 200,
              "sport": {
                "id": 2,
                "name": "Авиационный спорт",
                "code": "airSports",
                "isCompetition": 0,
                "sortIndex": 100000
              }
            }

## insuranceProduct: список страховых продуктов, доступных партнеру [/insuranceProduct?key={key}]

+ Parameters
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /insuranceProduct [GET]

Выводится список страховых продуктов, доступных партнеру. В примере дана только первая запись из всего списка. Для получения всего списка, выполните запрос. ВНИМАНИЕ полный запрос выполняется ОЧЕНЬ ДОЛГО (от 1 до нескольких минут). Рекомендуется выполнять запрос с фильтром.
+ Response 200 (application/json)

{
    "status": 200,
    "insuranceProduct": [
        {
            "id": 1,
            "code": "B",
            "name": "Стандарт Плюс",
            "isLimited": 0,
            "expertRaiting": 0,
            "isFixed": 0,
            "serviceStrategy": 3,
            "touristsInPolicy": 10,
            "company": {
                "id": 1,
                "code": "erv",
                "name": "ERV",
                "url": "http://www.erv.ru/"
            },
            "insuranceSubProduct": [
                {
                    "id": 3,
                    "name": "Стандарт Плюс T-II 50000, 100000",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 6,
                    "name": "Стандарт Плюс T-I 30000, 50000",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 9,
                    "name": "Стандарт Плюс T-III 30000",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 741,
                    "name": "Стандарт Плюс T-II 50000, 100000 + Отмена поездки",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "121": [
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 744,
                    "name": "Стандарт Плюс T-I 30000, 50000 + Отмена поездки",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "121": [
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 747,
                    "name": "Стандарт Плюс T-III 30000 + Отмена поездки",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "121": [
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 850,
                    "name": "Стандарт Плюс T-I 30000, 50000 + Таиланд",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 851,
                    "name": "Стандарт Плюс T-I 30000, 50000 + Отмена поездки + Таиланд",
                    "service": {
                        "1": [
                            {
                                "value": 30000
                            },
                            {
                                "value": 50000
                            },
                            {
                                "value": 100000
                            }
                        ],
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": {
                            "value": 1
                        },
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "121": [
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 24
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 4,
            "code": "OPI",
            "name": "OPTIMA",
            "isLimited": 0,
            "expertRaiting": 0,
            "isFixed": 0,
            "serviceStrategy": 3,
            "touristsInPolicy": 10,
            "company": {
                "id": 1,
                "code": "erv",
                "name": "ERV",
                "url": "http://www.erv.ru/"
            },
            "insuranceSubProduct": [
                {
                    "id": 12,
                    "name": "OPTIMA T-I 30000",
                    "service": {
                        "1": {
                            "value": 30000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 1000
                        },
                        "119": {
                            "value": 5000
                        },
                        "132": {
                            "value": 25000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 15,
                    "name": "OPTIMA T-II 100000",
                    "service": {
                        "1": {
                            "value": 100000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 2500
                        },
                        "119": {
                            "value": 15000
                        },
                        "132": {
                            "value": 75000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 18,
                    "name": "OPTIMA T-III 30000",
                    "service": {
                        "1": {
                            "value": 30000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 1000
                        },
                        "119": {
                            "value": 5000
                        },
                        "132": {
                            "value": 25000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 725,
                    "name": "OPTIMA T-I 50000",
                    "service": {
                        "1": {
                            "value": 50000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 2000
                        },
                        "119": {
                            "value": 10000
                        },
                        "132": {
                            "value": 35000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 750,
                    "name": "OPTIMA T-I 30000 + Отмена поездки",
                    "service": {
                        "1": {
                            "value": 30000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 1000
                        },
                        "119": {
                            "value": 5000
                        },
                        "121": [
                            {
                                "value": 0
                            },
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "132": {
                            "value": 25000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 753,
                    "name": "OPTIMA T-II 100000 + Отмена поездки",
                    "service": {
                        "1": {
                            "value": 100000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 2500
                        },
                        "119": {
                            "value": 15000
                        },
                        "121": [
                            {
                                "value": 0
                            },
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
                            },
                            {
                                "value": 5000
                            }
                        ],
                        "124": {
                            "value": 1
                        },
                        "132": {
                            "value": 75000
                        },
                        "135": {
                            "value": 1
                        },
                        "138": {
                            "value": 1
                        },
                        "141": [
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            }
                        ],
                        "144": [
                            {
                                "value": 0
                            },
                            {
                                "value": 31
                            }
                        ],
                        "153": {
                            "value": 1
                        },
                        "161": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "168": {
                            "value": 1
                        },
                        "174": {
                            "value": 1
                        },
                        "183": {
                            "value": 1
                        },
                        "191": {
                            "value": 200
                        },
                        "213": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ]
                    }
                },
                {
                    "id": 756,
                    "name": "OPTIMA T-III 30000 + Отмена поездки",
                    "service": {
                        "1": {
                            "value": 30000
                        },
                        "2": {
                            "value": 1
                        },
                        "5": {
                            "value": 1
                        },
                        "8": {
                            "value": 1
                        },
                        "11": {
                            "value": 1
                        },
                        "14": {
                            "value": 1
                        },
                        "17": {
                            "value": 1
                        },
                        "20": [
                            {
                                "value": 1
                            },
                            {
                                "value": 1500
                            }
                        ],
                        "23": {
                            "value": 1
                        },
                        "26": {
                            "value": 1
                        },
                        "29": {
                            "value": 1
                        },
                        "32": {
                            "value": 1
                        },
                        "38": {
                            "value": 1
                        },
                        "41": {
                            "value": 1
                        },
                        "44": {
                            "value": 1
                        },
                        "47": {
                            "value": 1
                        },
                        "50": {
                            "value": 1
                        },
                        "53": {
                            "value": 1
                        },
                        "56": {
                            "value": 1
                        },
                        "59": {
                            "value": 1
                        },
                        "62": {
                            "value": 1
                        },
                        "65": {
                            "value": 1
                        },
                        "104": [
                            {
                                "value": 0
                            },
                            {
                                "value": 1
                            }
                        ],
                        "110": {
                            "value": 1000
                        },
                        "119": {
                            "value": 5000
                        },
                        "121": [
                            {
                                "value": 0
                            },
                            {
                                "value": 500
                            },
                            {
                                "value": 1000
                            },
                            {
                                "value": 1500
                            },
                            {
                                "value": 2000
                            },
                            {
                                "value": 2500
                            },
                            {
                                "value": 3000
                            },
                            {
                                "value": 3500
                            },
                            {
                                "value": 4000
                            },
                            {
                                "value": 4500
[...]
